/* panels sizes*/
.panel.panel-default {
	overflow: hidden !important;
	margin-bottom: 5px !important;
}

.panel.panel-default .panel-body {
	height: 390px !important;
    overflow: auto !important;
}

/* instructions specific */
#i-sand {
	height: 135px !important;
}

/* editor specific */
#editor {
    overflow: hidden !important;
}

/* info texts height */
#i-text, #bhdr-text {
	height: 100%;
}