/* measures */
.mRight10 {
	margin-right: 10px !important;
}

.mLeft5 {
	margin-left: 5px !important;
}

.mLeft10 {
	margin-left: 10px !important;
}

.mTop10 {
	margin-top: 10px !important;
}

.mBottom10 {
	margin-bottom: 10px !important;
}

.mBottom5 {
	margin-bottom: 5px !important;
}

.m5 {
	margin: 5px !important;
}

.m10 {
	margin: 10px !important;
}

.mTopM10 {
	margin-top: -10px !important;
}

.mTopM5 {
	margin-top: -5px !important;
}