/* console related */
.y {
	color: yellow !important;
}

.r {
	color: red !important;
}

.g {
	color: lime !important;
}

.b {
	color: aqua !important;
}

#dragbar{
   background-color:lightgrey;
   height:5px;
   align-self: center;
   width: 5%;
   margin-bottom: -5px;
   z-index: 10;
   cursor: row-resize;
}

#console {
	min-height: 140px;
	background-color: black !important;
	color: white !important;
	overflow: auto;
	resize: vertical;
	width: auto;
}

.console-full {
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
}

.overlay {
	position:fixed;
	width: 100vw !important;
	top:0;
	left: 0;
	height: 100vh !important;
    z-index:100;
}

.dragbar-overlay {
	position:fixed;
	top:0;
    z-index:110 !important;
}