/* main view disposition */
html,
body {
  height: 100%;
  margin: 0;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box .header {
  flex: 0 1 auto;
}

.box .content {
  flex: 1 1 auto;
}

.box .footer {
  flex: 0 1 140px;
}

.container {
  width: 85% !important;
}

.container.hidden {
  display: none;
}

.container.full {
  width: 100% !important;
}

.full {
  margin-left: calc(50% - 49.8vw);
  margin-right: calc(50% - 49.8vw);
}

.overlay {
	position:fixed;
	width: 100vw !important;
	top:0;
	left: 0;
	height: 100vh !important;
  z-index:100;
}

.dragbar-overlay {
	position:fixed;
	top:0;
  z-index:110 !important;
}