.container {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.mRight10 {
	margin-right: 10px !important;
}

.mLeft10 {
	margin-left: 10px !important;
}

.mTop10 {
	margin-top: 10px !important;
}

.mBottom10 {
	margin-bottom: 10px !important;
}

.y {
	color: yellow !important;
}

#editor {
	min-height: 350px !important;
}

#console {
	min-height: 130px !important;
	background-color: black !important;
	color: white !important;
	margin-top: -15px !important;
	overflow: auto !important;
}

#bhdr-text {
	min-height: 350px !important;
}

#i-text {
	min-height: 450px !important;
}