.container {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.mRight10 {
	margin-right: 10px !important;
}

.mLeft10 {
	margin-left: 10px !important;
}

.mTop10 {
	margin-top: 10px !important;
}

.mBottom10 {
	margin-bottom: 10px !important;
}

#editor {
	height: 330px !important;
}

#console {
	height: 120px !important;
	background-color: black !important;
	color: white !important;
}

#bhdr-text {
	min-height: 350px !important;
}